*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
.pointer{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    background-color: black;
    color: white;
    border: dashed white 3px;
    width: 80vh;
    height: 10vh;
    font-size: 2em;
    text-align: center;
}
.container{
    padding: 0;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 95vh;
    height: 80vh;
    border: dashed black 3px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

#player1{
    width: 5vh;
    height: 5vh;
    border: solid black 3px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s;
}